.bkg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -153px 0 0 -160px;
  background-color: white;
}

.nav, .list {
  background-color: #f65040;
  border-radius: 7px;
}

.nav {
  overflow: hidden;
  height: 70px;
  width: 320px;
}

.name {
  float: left;
  width: 85%;
}

.name span {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-family: 'Bree Serif', serif;
  font-size: 25px;
  line-height: 70px;
  color: #fff;
}

.triangle {
  float: right;
  display: inline-block;
  margin-top: 31px;
  margin-right: 28px;
  width:0;
  height:0;
  border-top: 14px solid white;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
}

.list {
  display: none;
}

.bkg:hover .list {
  display: block;
} 

.list {
  width: 320px;
  margin-top: 24px;
}

.list::before {
  content: "";
  position: absolute;
  top: 70.5px;
  right: 28px;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 14px solid #f65040;
  border-left: 10px solid transparent;
}

.list a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  vertical-align: top;
  height: 70px;
  line-height: 70px;
  font-family: 'Bree Serif', serif;
  font-size: 25px;
}

.option {
  margin: 0;
  padding: 0;
  list-style: none;
}

.option li {
  overflow: hidden;
  height: 70px;
}

.line {
  border-bottom: 1px solid #fd7a69;
}

.option li > div {
  display: inline-block;
  width: 80px;
  height: 70px;
  margin-left: 15px;
}

.icon-image {
  float: left;
  background: url(../static/bkg.png) no-repeat;
  background-size: 190%;
}

.heart {
  background-position: 14px -32px; 
}

.star {
  background-position: -50px 20px;
}

.chat {
  background-position: 15px 20px;
}

